.sophie-stripes {
    position: relative;
}

.blog-title h1 {
    margin: 0;
    padding: 0;
    display: inline-block;
    position: absolute;
    top: 350px;
    left: 190px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.blog-container-1 {
    background-color: $white;
    display: flex;
    margin-top: 0;
    padding-top: 90px;
}

