//"Who is Sophie?" Section
.who-is-sophie-container {
    background-color: $white;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 140px;
        & h2 {
            padding-top: 80px;
            padding-bottom: 20px;
            @include fontSpecs (4.2rem, 700);
        }
            & p {
                @include fontSpecs (2rem, 400);
                line-height: 32px;
                padding-bottom: 60px;
            }
}

#about a {
    background-color: $cyan;
    padding: 10px 25px 10px 25px; 
    @include fontSpecs (2rem, 700)
}

//"Sophie's Favourite Things" Section
.favourite-things-container {
    display: flex;
    padding-top: 70px;
    padding-bottom: 50px;
        & h3 {
            padding-bottom: 20px;
            @include fontSpecs (3.2rem, 700);
        }
            & p {
                @include fontSpecs (2rem, 400);
                line-height: 32px;
                padding-bottom: 40px;
            }
}

.doggo-img {
    width: 100%;
    position: relative;
    bottom: 110px;
    left: 60px;
    box-shadow: -20px 15px $rust-red, -60px 15px $rust-red;
        img {
            height: 35vh;
        }
}



.fav-things {
    margin-left: 120px;
    padding-right: 100px;
}

.favourite-things-container a {
    background-color: $cyan;
    padding: 10px 25px 10px 25px; 
    @include fontSpecs (2rem, 700)
}

//"Where's She's Travelled" Section
.travel-container {
    display: flex;
    padding-top: 70px;
    margin-bottom: 0px;
        & h3 {
            padding-bottom: 20px;
            @include fontSpecs (3.2rem, 700);
        }
            & p {
                @include fontSpecs (2rem, 400);
                line-height: 32px;
                padding-bottom: 40px;
            }
}

.travel-text {
    width: 45%;
    text-align: right;
    margin-right: 50px;
    padding-left: 100px;
}

.travel-img img{
    height: 50vh;
    width: 85%;
    position: relative;
    top: 20px;
    box-shadow: 25px 15px $orange, 99px 15px $orange;
}

.travel-container a {
    background-color: $cyan;
    padding: 10px 25px 10px 25px; 
    @include fontSpecs (2rem, 700)
}

// Icon Menu Section
.icon-menu {
    background-color: $white;
    margin-top: 0;
    padding: 120px 80px 80px 60px;
        & .ul-icon {
            display: grid;
            grid-template-columns: 2fr 2fr;
            grid-template-rows: 2fr 2fr;
            grid-column-gap: 20px;
            grid-row-gap: 20px
        }
            & .yellow-round {
                border-radius: 50%;
                width: 5rem;
                height: 5rem;
                background-color: $orange;
                display: flex;
            }
}

.icon-menu i {
    font-size: 3rem;
    position: relative;
    top: 10px;
    left:10px;
}

.icon-menu h3 {
    padding-bottom: 20px;
    padding-left: 65px;
    @include fontSpecs (3.2rem, 700);
}

.icon-menu p {
    @include fontSpecs (1.8rem, 400);
    padding: 25px 0px 50px 100px; 
}


