header ul {
    display: flex;
    justify-content: center;
    background-color: $orange;
}

header li {
    padding: 15px;
    font-size: 2rem;
    padding-top: 30px;
}

.sophie-nav {
    @include fontSpecs (4.5rem, 700, Lora);
    margin-top: 30px;
    position: relative;
    bottom: 17px;
}

