header .wrapper{
    background-color: $orange;
    height: 70vh;
}

.header-flex {
    display: flex;
}

.main-title {
    @include fontSpecs (10rem, 700, Lora);
    
}

.semi-circle {

} 

.sophie-img {

}